#world-container {
    height: 80vh;
    cursor: grab;
    display: flex;
    justify-content: center;
    position: relative;
}

#world-container:active {
    cursor: grabbing;
}

.tracks-list {
    border: 5px solid #FFF;
    border-radius: 10px;
    padding: 0.5%;
    background-color: rgba(0, 0, 0, 0);
    width: 20vw;
    height: 45vh;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2vh;
    visibility: hidden;
}

.track-infos {
    border: 5px solid #FFF;
    border-radius: 10px;
    padding: 0.5%;
    background-color: rgba(0, 0, 0, 0);
    width: 20vw;
    height: 45vh;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2vh;
    visibility: hidden;
}